* {
    background-color: #be9b7b;
}

h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    color: #4b3832;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 0;
}

div, span {
    background: none;
}

.main {
    background-color: #3c2f2f;
    margin: auto;
    width: 500px;
    font-size: 25px;
    font-family: 'Berkshire Swash', cursive;
    color: #fff4e6;
    text-align: center;
}

#control_part {
    height: 110px;
    margin-bottom: 20px;   
}

.control_name {
    display: inline-block;
    width: 50%;
    float: left;
    margin-top: 20px;
}


.control {
    display: block;
    width: 16.6%;
    float: left;
    margin-top: 10px;
    font-size: 20px;
    vertical-align: middle
}

button {
    background: none;
    border: none;
    font-size: inherit;
    color: #fff4e6;
    vertical-align: middle
}

#session, #break  {
    font-size: 25px;
    font-family: 'Abril Fatface', cursive;
}

#time_part {
    height: 250px;
}

.action {
    display: block;
    width: 50%;
    float: left;
    font-size: 45px;
    margin: auto;
    padding: 0;
    vertical-align: middle
}

#clock_name {
    width: 100%;
    float: left;
    font-size: 40px;
}

#clock {
    width: 100%;
    height: 60px;
    float: left;
    font-size: 45px;
    font-family: 'Abril Fatface', cursive;
    margin-top: 0px;
    
}

.green {
    color: #2ECC40 !important;
}

.yello {
    color: #FFDC00 !important;
}

.red {
    color: #FF4136 !important;
}



